* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;

    --ff-primary: 'Poppins', sans-serif;
    --text-color: #303030;
    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%)
}
body {
    font-size: 1.6rem;
    color: var(--text-color);
}
body * {
    font-family: var(--ff-primary);
}
#app {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
.search {
    display: flex;
}
.search input {
    height: 3.2rem;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;
    border: 1px solid #ccc;
}
.search button {
    background-color: var(--primary-color);
    border-radius: 0 .4rem .4rem 0;
    height: 3.2rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}
.search button:hover {
    filter: brightness(1.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
table * {
    font-size: 1.4rem;
    color: var(--text-color);
}
table th {
    background-color: var(--primary-color);
    font-weight: 400;
    text-align:  left;
    padding: 1.5rem;
}
table th:first-child {
    border-top-left-radius: .4rem;
}
table th:last-child {
    border-top-right-radius: .4rem;
}
table td {
    padding: 1.5rem;
}
td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
td.user a {
    text-decoration: none;
}
td.user a p {
    font-weight: 700;
}
td .remove {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}
td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
table tr:nth-child(even) {
    background: #eee;
}
table tr:nth-child(odd) {
    background: #ddd;
}
.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    margin: -1px;
    border-width: 0;
}